<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>
        <div class="login">
          <h2>Login</h2>

          <!-- Exibe as mensagens flash -->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              <ul class="flashes">
              {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
          {% endwith %}

          <form action="{{ url_for('login') }}" method="POST">
              <div class="inputBx">
                  <input type="text" name="username" placeholder="Nome de usuário" required>
              </div>
              <div class="inputBx">
                  <input type="password" name="password" placeholder="Senha" required>
              </div>
              <div class="inputBx">
                  <input type="submit" value="Entrar">
              </div>
          </form>
          <div class="links">
            <a href="#">Esqueceu a senha?</a>
            <a href="{{ url_for('register') }}">Inscrever-se</a>
          </div>
        </div>
      </div>
</body>
</html>
